
    .trees { fill:#144043 }
    .cement { fill:#c6c2c2 }
    .land { fill:#1f5054 }
    .rock { fill:#dcd5b6 }
    .water { fill:#4a6b96 }
    .wood { fill:#593700 }
    .tarmac { fill:#768089 }
    .gravel { fill:#946d3e }
    .building { fill:#1a2632 }
    .floor { fill:#70777f }
    .locked { fill:#37414c }
    .map_border { fill:none;stroke:#000;stroke-width:2 }
    .fence { fill:none;stroke:#c4e3c3;stroke-width:1 }
    .road_tarmac { fill:none;stroke:#888 }
    .road_gravel { fill:none;stroke:#946d3e }
    .road_small { stroke-width:5 }
    .road_medium { stroke-width:8 }
    .road_large { stroke-width:12 }
    .railroad { fill:none;stroke:#914833;stroke-dasharray:6;stroke-width:3 }
    .powerline { fill:none;stroke:#ffce00;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:6,6 }
    .danger { fill:red;fill-opacity:.4;stroke:red;stroke-dasharray:4,2;stroke-width:2 }
    .danger_small { fill:red;fill-opacity:.4;stroke:red;stroke-dasharray:2,1;stroke-width:1 }
    .task { fill:#000 }
    .stairs { fill:#FFD700 }
    .shadow { filter:drop-shadow(0 0 2px #000) }
  